<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© <%= Time.now.year %> Y.LuisBeiza </span>
        <span class="float-end"> this links on my social medias </span>
      </div>
    </footer>
  </body>
</html>